[2014-12-23 09:36] julienvey opened #1 "Add a field `HideValue` in argument options to avoid displaying current value in the help"
For instance if an arg is a password, set by the environment variable, I don't want it to be displayed in the help message.

[2014-12-23 09:38] julienvey opened #2 "For Env vars, display the env var name at the end of the description"
Currently, if the env var is set, we can see its actual value in the help message, but not the name of the env var that was used.

[2014-12-31 12:20] #1 closed, assigned to nobody

[2014-12-31 12:20] #2 closed, assigned to nobody

[2015-02-01 04:01] einthusan opened #4 "extra space between cli program name and COMMAND literal"
[code]
should be
[code]

[2015-02-01 22:05] #4 closed

[2015-02-02 00:47] insasho opened #5 "Request: support enum flags"
This library is off to a great start! Support for enumerations is a common feature of flag parsing libraries and it would be great if mow.cli could support this too.

Proposed design:
[code]

Per-option help text could be set via the struct variants of the Enum methods.

My specific use case is that I need to add a flag that will support many different values over time but that only currently supp

[2015-02-02 06:53] einthusan opened #6 "confusion... maybe explain it in documentation?"
[code]
[code]

What exactly is the reason why the flag is only available within Action? and why Action command at all?

[2015-02-02 13:51] jawher commented on #6
Right at the end of the Commands section in mow.cli's readme file, there's [this side-note](https://github.com/jawher/mow.cli#commands):

In your case, the function you pass to `gocdn.Command("kill" ...` serves to configure the `kill` command, i.e.:

* Declare the options and arguments it accepts
* Optionally define the spec string
* Optionally define the code to run when this command is called fr

[2015-02-02 13:53] jawher commented on #5
Thanks for the feedback.

Good proposal, adding it to the to do list.

[2015-02-02 22:26] gaffneyc opened #7 "Question: Is it possible to signify nothing is parsed after argument?"
I'm writing a command line utility that is designed to wrap the execution of other commands (it will have arguments of it's own). It will be common that a user would want to do something like this: `mycmd their_command -c -F`. I know this is currently possible using `--` to say `mycmd -- bash -c 'some code'`.

The problem I expect to happen will be that if the user wraps a command without argument

[2015-02-03 00:48] jawher commented on #7
This is actually a bug: what you are describing should be possible to implement using this spec string:

[code]

i.e. by using the `--` operator in the spec string to tell mow.cli that after the `-c` option, parse everything as an argument and ignore options.

I implemented the first half of this logic in the spec parser but I forgot to implement the second half.

So thanks for spotting it ! The f

[2015-02-03 01:00] gaffneyc commented on #7
Huh interesting. To give a little bit more on what I'm doing I currently have: `app.Spec = "-- CMD [ARG...]"`. `myapp echo foo` will do as you would expect but `myapp bash -c 'echo foo'` errors with `Error: Illegal option -c`.

Is it possible that it would know that `-c` is actually part of the bash call? I'm guessing not easily.

[2015-02-03 01:05] jawher commented on #7
Yep, your spec string is absolutely correct, and the fact that you get the error you mention is a *bug* that I'm trying to fix as we're speaking.

[2015-02-03 01:11] gaffneyc commented on #7
Awesome (and thank you)! Wasn't sure if we were on the same page.

[2015-02-03 01:22] jawher commented on #7
The good news is that I located the origin of the bug and I have a rough idea on how to go about fixing it.

The bad news is that fixing it is going to require a fair chunk of work and rewriting parts of the parsing/normalization logic, so it might take a day or 2.

Thanks again for finding it and stay tuned.

[2015-02-04 05:50] einthusan commented on #6
Okay i understand, I've had great success with your package, so thanks for that.

It's just that I spent an hour trying to figure out WHY it was misbehaving and the reason behind it. It now makes sense. I suggest that the new documentation you are writing clearly says something along the lines of... "NOTE: FLAG values are only available within the ACTION function"

[2015-02-04 05:51] #6 closed

[2015-02-04 18:15] #7 closed

[2015-02-04 18:17] gaffneyc commented on #7
Wonderful! Thanks for getting this fixed and keep up the good work.

[2015-02-05 11:19] jawher commented on #7
Thanks !

[2015-02-12 22:13] wmark opened #8 "howto: optional longOpt before a repetition"
For a reverse proxy I've created intuitively a spec like this:

[code]

… with the application *record* being invoked like this:
[code]

Well, the above spec leads to this error:
[code]

* What would be the correct *cmd.Spec*?
* How can I introduce option ```--listen-on``` (including the dash)?
* ```cmd.Spec = "[--listen] HOSTNAME... DIRECTORY```?

[2015-02-12 22:53] jawher commented on #8
You spec string is valid. The problem occurs because you declared the `listen` option as an argument and not as an option:

[code]

You should use `cli.StringOpt` instead of `cli.StringArg` which should fix the problem.

As a side note, mow,cli shares a part of the blame here: it should reject an argument declaration when the name is not in all caps.

[2015-02-13 13:26] wmark commented on #8
Wunderbar! Merci beaucoup.

I've confused 'arguments' and 'options'.

[2015-02-13 13:26] #8 closed

[2015-02-25 06:49] sunclx opened #9 "String flags don't support the string contains space."
`cli -s="Swartz Chen"`will fail.

[2015-02-25 13:24] jawher commented on #9
I can't reproduce the problem you're describing.

Can you provide a test program which exhibits this behavior and the output you are getting ?

Thanks.

[2015-02-27 02:47] sunclx commented on #9
[code]

`cli -s="Hello" `is OK.`
`cli -s="Hello World!"` fails.

[2015-02-28 09:52] jawher commented on #9
Weird, I tested your program and it works flawlessly for me.

When you say that it fails, do you get an error message ? Or maybe a wrong value ?

Also, what is your environment ? (OS, shell, go version).

[2015-02-28 12:16] sunclx commented on #9
I think I know the problem.
OS: windows x32.
shell: sublime text 3.
go version: 1.4.1.
It is the problem of sublime text 3. It works wel when I change the shell.

[2015-02-28 12:16] #9 closed

[2015-02-28 14:19] jawher commented on #9
Glad to see you figured it out !

[2015-08-11 03:37] lox opened #10 "Unexpected space in main command usage"
[code]

Note double space after `aws-vault` and `COMMAND`.

Output:
[code]

[2015-08-11 06:03] #10 closed

[2015-08-11 06:04] jawher commented on #10
Thanks for noticing this bug and for creating this issue ! Should be fixed now.

[2015-09-27 23:24] rhd opened #12 "How to enable profiling via flag"
Hi, how would I integrate profiling into my your app?

https://github.com/pkg/profile

I have to call something right when the app starts and right when it exits (or use defer as in the example). But I only want it enabled when I pass a flag via the command line.

Would I have to use a global flag and copy/paste the same code in each command?

Thanks!

[2015-09-28 18:36] jawher commented on #12
Interesting use case, thanks for bringing it up !

You are right in that mow.cli does not provide a way to achieve what you want. Not without, as you pointed it out, copying and pasting the necessary calls in every command.

I'll be thinking of a more elegant way of achieving this.
Right now, I'm guessing it would look like:

[code]

Where the `Before` and `After` functions will be called before a

[2015-09-28 19:17] rhd commented on #12
That would be a perfect solution. FYI, I'm writing a cli app that requires username/password authentication and I'm currently coping/pasting the same code in each command. This solution fixes that issue too!

One request, would it be possible to check the return value in app.Before() or at least give a way for the command not to continue if, say, authentication fails or some other error occurs.

D

[2015-09-28 19:28] jawher commented on #12
Wouldn't a call to `os.Exit` suffice ?

Sure: app is really a command, so the before/after solution would work the same everywhere.

Thank you for the kind words :)

[2015-09-28 19:32] rhd commented on #12
Hmm, I can't think of a reason it would not suffice - good solution that doesn't require any extra plumbing.

Perfect, thanks!

[2015-09-29 08:37] november-eleven opened #13 "Request: Long option only."
Hello,

This library is neat, however, it would be perfect if its was possible to declare an option in long format
only.

For example using `StringOpt`:

[code]

Thank you in advance.

[2015-09-29 08:56] jawher commented on #13
Hi,

I'm not sure I understand the issue here: if you don't give the option a short name, like you did in the example above, the option can only be set via its long name.

Or am I missing something ?

[2015-09-29 12:41] november-eleven commented on #13
Hello,

No you right, my bad. I was using an old version and the option with only long name was causing panic error - or I was doing something wrong - its working just fine now.

Thank you.

[2015-09-29 12:41] #13 closed

[2015-10-02 07:22] kk44 opened #14 "How to write option's argument in Spec?"
hi, jawher

here is my code:
[code]

then run:

[code]

meaning it is not possible to tell whether [NAME] is option's argument or positional argument

I want to get the help "Usage: greet -c COUNT [NAME]", the COUNT is "c" option's argument, and the "[NAME]" is positional argument.

Thank you!

[2015-10-02 08:59] jawher commented on #14
Hi,

Unfortunately, and in its current form, `mow.cli` doesn't support what you're trying to achieve.

Just thinking out loud here, but I think this could be achieved by extending the options structs with a new field, say `InlineDesc` for example:

[code]

This new field, when set, will be printed alongside the option in the help messages:

[code]

Things to think about:
* the `=` sign or somethin

[2015-10-02 14:50] kk44 commented on #14
Hi, jawher
Thank you for your help!

I think we can ignore the option's argument before parse the Spec. For example, ignore the "=\<count\>" in the Spec "-c=\<count\> [NAME]".

git diff:

[code]

Test:

[code]

It must have a "=" before option's argument in Spec.

Also, the Spec can be:
[code]

But, it has not be tested with subcommand.

[2015-10-04 21:02] jawher commented on #12
@rhd: can you give #15 a look please ? You feedback on the proposed solution, and test results would be most welcome !

[2015-10-05 06:43] rhd commented on #12
@jawher Without actually checking out the code and testing it, the PR looks really good to me. Looking forward to this getting merged! Great addition.

[2015-10-06 19:44] jawher commented on #14
@kk44 yeah, you're totally right: the inline values definitely go into the spec strings.

I'll get working on it.

[2015-10-06 20:42] jawher commented on #14
@kk44: A working version in #16.
Your feedback would be appreciated !

[2015-10-07 03:55] kk44 commented on #14
Wow! It works! Thank you!

[2015-10-07 03:55] #14 closed

[2015-10-08 12:51] jorisroovers opened #17 "Typo in Basics section of the README"
This is really a nitpick, but the README states
[code]
There is a colon missing in this assignment. Code needs to be:
[code]

[2015-10-08 13:07] jorisroovers opened #18 "Support for printing the version of the application"
This is a feature request for providing some syntactic sugar to easily print the version of a cli application. A ```--version``` option is a widely used by commandline programes.

Currently, I use the following workaround:
[code]
It would however be nice to just be able to do:
[code]
This version string would then be printed automatically when users invoke: ```mycli version``` or the option varian

[2015-10-08 13:52] jawher commented on #17
@jorisroovers Thanks for noticing the error.

It's a trivial fix, do you want to create a pull request ? :)

[2015-10-08 16:47] #17 closed

[2015-10-08 17:22] #12 closed

[2015-10-08 17:24] jawher commented on #12
Thanks again @rhd for requesting this feature: it is now supported and `mow.cli` is the better for it !

[2015-10-08 17:28] rhd commented on #12
Amazing... Thank you. I'll try to test it out tonight.

Btw, you should get this added to awesome go.
https://github.com/avelino/awesome-go

On Thu, Oct 8, 2015, 10:24 AM Jawher Moussa <notifications@github.com>
wrote:

[2015-10-08 17:41] jawher commented on #18
@jorisroovers Thanks for bringing this issue up.

I agree that supporting the `--version` idiom is needed.
Handling it correctly requires you to:

* Declare the boolean flag version on the app
* Adding an action to the app even when the app only exposes commands
* In the said action, print the version if the flag is set, or print the usage help text otherwise

Which is cumbersome.

Handling the ve

[2015-10-09 11:59] jorisroovers commented on #18
I agree that ```mycli --version``` is the widespread idiom and preferable over ```my cli version``` (although funny enough, the go cli itself uses ```version``` instead of ```--version```). If it were cleaner to implement in the current version of mow.cli, then that's what I would've done as well.

The suggested approach ```app.Version("v version", "mycli 1.0.7-beta3, git: 5a708d")```  sounds perf

[2015-10-10 11:17] jawher commented on #18
@jorisroovers : By all means, if you're willing to tackle this, I'd highly appreciate it :)

[2015-10-10 11:33] jorisroovers commented on #18
@jawher Ok, on it :-)

[2015-10-12 20:46] #18 closed

[2015-10-12 20:46] jawher commented on #18
Implemented in #20.

[2015-10-27 01:20] zpatrick opened #21 "Allow arbitrary args and flags"
Hi Jawher,

Is there is a way to allow arbitrary arguments and flags in a command? I have a script which wraps another tool and want to give users the ability to pass any args/flags to the underlying tool as if they were using it directly. I'm able to pass arbitrary string args using:
[code]
However, I haven't figured out a clean way to allow arbitrary flags as well. Ideally, I would be able to ru

[2015-10-27 07:40] jawher commented on #21
Hi,

The `--` is what you're looking for (see [this section of the README)[https://github.com/jawher/mow.cli#operators]).

In your case:

[code]

You can then call your command like this:

[code]

And `instance` will be populated with `"cp"` and `args` with `["-R", "source", "dest"]`

[2015-10-27 18:44] zpatrick commented on #21
Just what I was looking for, thanks!

[2015-10-27 18:44] #21 closed

[2015-11-07 07:10] zeroXten opened #23 "Additional documentation / examples"
It would be nice to be able to provide extra documentation and/or example commands when --help is used, but not on an incorrect usage error.

[2015-11-08 21:23] jawher commented on #23
Any suggestions on how you would imagine the API for that to be like ?

I'm thinking of a possible way to do it, which is to add a `LongDesc` field to commands, and print the short description in case of call error, and the long description if help is explicitly requested:

[code]

And when the command is called incorrectly, mow.cli would print:

[code]

Whereas if the help is explicitly requested

[2015-11-11 17:31] zeroXten commented on #23
Looks awesome!

[2015-11-13 22:34] zeroXten commented on #23
Holy fuck. Probably not the right place for this, but I've just seen twitter. Hope you're ok in Paris. Stay safe.

[2015-11-14 00:01] jawher commented on #23
Thanks Fraser, I'm fine (in Barcelona on vacations).
Devastating news.

On Fri, Nov 13, 2015, 23:34 Fraser Scott <notifications@github.com> wrote:

[2015-11-15 11:49] #23 closed

[2016-01-22 09:45] jawher opened #27 "display format of bool flags"
Quoting a suggestion from @bmoyles in #26:

[2016-01-22 09:45] jawher commented on #27
I'm thinking aloud here, so bear with me:
* Not showing the default value for boolean flags can already be done with the `HideValue` field, but it has to be set on all the boolean flags, which is a PITA
* If this is to be implemented, would it be a good idea to make it configurable (an opt-in), maybe on on the app or command level, in order to not upset the existing users of the lib ?
* Wouldn't a

[2016-01-22 17:37] bmoyles commented on #27
I was originally thinking at a minimum, exposing it through the helper functions cmd.BoolOpt() and cmd.BoolArg() would be useful, but then... why not expose all of the struct fields through those helpers (but then you're just about as verbose as building the struct and passing it to cmd.Bool())

Configuring the default behavior for default visibility at the app-level (or even the Command-level) se

[2016-01-25 21:00] jawher commented on #27
Precisely :)

[2016-01-30 05:31] schmich opened #28 "Poor performance with multiple nested options"
In the application below, running `ward add --help` or any other variation of `add` is very slow (>30s). I'm guessing it's because of the complicated spec with multiple nested options. I haven't done any profiling yet, so I can't tell you where it's spending time.

For context, this is for a command-line password manager. Specifically, the `add` command lets you add a new credential (e.g. `ward ad

[2016-01-30 06:38] schmich commented on #28
Following the steps [here](https://medium.com/@tjholowaychuk/profiling-golang-851db2d9ae24), I'm seeing the profile below (or [see the call tree here](https://github.com/jawher/mow.cli/files/110696/profile.pdf)). Everything seems to point to [`state.has`](https://github.com/jawher/mow.cli/blob/995a6dc78cd1b43d3145ca69ef15cfec07e06713/fsm.go#L53) as the bottleneck.

[code]

[2016-01-30 12:25] jawher commented on #28
Ouch !

Thanks @schmich for finding and reporting this issue !
I'm out of town this weekend but I'll look into this as soon as I'm back.

[2016-01-31 21:01] jawher commented on #28
@schmich progress report: I've looked into the issue, and the root cause is not how `sate.has` is implemented in particular.
What's going on here is that `mow.cli` uses a state machine to parse and validate the user provided options.
State machines are inherently sequential and "ordered".
What that means is that by default, it will accept options only in their order in the spec string, which is no

[2016-02-01 19:59] schmich commented on #28
@jawher thanks for looking into this so quickly. The problem definitely makes sense, but I can see how a fix would be tricky given the current approach. I noticed the factorial nature of the problem, too, since the program runs quickly if I remove just a handful of the options.

From what I can tell, in some ways, you're paralleling a regex library. You're constructing a parser on-the-fly from a s

[2016-02-03 20:09] jawher commented on #28
@schmich
You're absolutely right: I'm paralleling how (many) regex engines work: construct a state machine from the user's input and use it to validate and extract info from another set of inputs.

You can go quite a way implementing arguments parsing using a regex, but I don't think you'd be able to handle many of the subtleties inherent to CLIs:

- options folding: how to interpret `-abc`: is it

[2016-02-03 20:10] jawher commented on #28
@schmich Also, I would be grateful if you could test #29 which should fix the performance (and memory consumption) issue you're having with ward.

[2016-02-03 22:37] schmich commented on #28
@jawher :+1: Looks great. Incredibly fast. All tests are passing on my side with this change incorporated. Thanks again for fixing this so quickly. Feel free to close this issue.

[2016-02-07 09:31] #28 closed

[2016-02-09 16:59] wmark opened #30 "Request: parse expected flags with flag.ContinueOnError"
I'd like my app to ignore any options that I didn't specify in advance still parsing as much of the expected ones as possible.

Given this:
[code]

Currently this fails to read the option ```-s``` due to an unexpected option ```-t``` having been provided:
[code]

This is what I'd expect:
[code]

[2016-02-09 20:01] jawher commented on #30
There are 2 things going on here:

* The `ErrorHandling` field is not fully documented in `mow.cli`. My bad. I'll fix it
* `flag.ContinueOnError` is not a very good or self-explanatory name

What `flag.ContinueOnError` means is: stop parsing the args, don't run the target command code and instead return an error.
The alternative is to either exit with a non-zero status or to panic.

That's how it

[2016-02-09 20:13] wmark commented on #30
Good points. I believe we have some greenfield freedom here.

I feel that, given your example, ```-s``` should be read. If and what everything else is can be ignored. Even if the order were a different one. Except, of course, ```-s``` were declared something different than ```StringOpt```. In other words, what ```-t``` and rest is should not matter.

If it were ```myap -t SOMETHING -s IDSPLAYNAME`

[2016-02-10 08:11] jawher commented on #30
@wmark: Just to be sure I'm understanding correctly: you're suggesting that parsing should stop as soon as something erroneous is encountered, right ?

If that's the case, this approach is going to break the backtracking in mow.cli, which is central to correctly parse user input for moderately complex specs.
For example:

[code]

Which means accept just a `-s` flag, or a `-s` flag and consider wha

[2016-02-10 08:22] jawher commented on #30
On a side note, I've been thinking (from a while ago) of a way to handle arbitrary flags (not necessarily declared before-hand). Something like with the `head` or `tail` commands which accept the number of lines to show directly, e.g. `head -3`.

One possible way to achieve this would be:

[code]

And whenever an unknown option `-x` is encountered, the catch all `accept` function would be called t

[2016-03-22 03:52] tv42 opened #32 "custom types via flag.Value"
Hi. I can't see anything in mow.cli taking options/arguments of a non-basic type, just string/int/bool. What about the functionality of `flag.Var` / `flag.Value`?

https://golang.org/pkg/flag/#Var

https://golang.org/pkg/flag/#Value

[2016-03-22 03:52] tv42 commented on #32
Also this would solve https://github.com/jawher/mow.cli/issues/5

[2016-03-29 08:11] jawher commented on #32
@tv42 : Thanks for the suggestion, Var/Value would be a great addition to mow.cli.

While I won't be working on this immediately (I'm soon to set off to a 4 week vacation), I's definitely in the top of my todo list for future work, unless of course you feel like giving it a shot ?

[2016-05-18 04:31] gwatts opened #33 "Required environment variable"
The spec doesn't seem to provide for an option to be required _either_ by supplying an environment variable and/or supplying a command line option.

eg.

[code]

i'd like this program to succeed if the program is run as either `myapp --param foobar` or `PARAM=foobar myapp` but print the usage info otherwise if both are omitted.

I guess I can make the argument optional in the Spec and then check i

[2016-05-22 09:58] jawher commented on #33
@gwatts Thanks for raising the issue.

This is indeed a good suggestion.
I myself ran into this many times.

[2016-06-07 00:34] gwatts commented on #33
@jawher do you have any thoughts on how you would implement this?  I can probably create  a PR

[2016-06-07 09:19] jawher commented on #33
@gwatts Actually I worked a bit on this, and it turns out that it's a tiny modification to the code, which surprised me. I'll have to look at it a bit more to be sure that it doesn't break anything else. Stay tuned !

But if you want to take a stab at it, the general idea is:

* when an option is created, it is pre-initialized with either the value from the env var if it exists, or the user specif

[2016-06-07 17:42] gwatts commented on #33
@jawher that seems simple enough, though i was really wondering if you thought there was a need to be able to specify that behaviour - ie. that falling back to an env var was ok for a required parameter, or whether it should just always work that way.

Seems reasonable to me that that should be standard behaviour, but then that happens to fit my use case ;-)

[2016-06-29 16:44] evantorrie opened #35 "Possible to detect whether a value was specified by the user or is just the default value?"
Is it possible to distinguish between a default value provided to `<type>Opt()` versus an explicit user supplied value?

I'm guessing the likely suggested approach is just to make the default something a user would never choose, and then check to see if the value is different from that.. but just wondering if this is something that has been considered?

[2016-06-30 08:02] jawher commented on #35
@evantorrie Thanks for raising the issue.

The answer is no, there is nothing in `mow.cli` that supports this use case.

Do you have a specific example in mind ?
And how would you see such a feature implemented ? Since creating a flag or an argument returns a single result (where the value will be stored) ?

[2016-07-01 16:42] evantorrie commented on #35
Yes, I don't see how such a feature could be implemented with the current API.

The general example is one where the default may be a "soft" default, i.e. could be changed by later code if circumstances require it -- whereas if a user supplied an actual value, it would be a "hard" value.  Particular example is one related to specification of allowable memory for a container where the required amou

[2016-07-05 22:50] xlab commented on #9
I'm using OS X and iTerm2 (Build 3.0.4), got the same issue there :(

[2016-09-05 11:35] jawher commented on #32
A quick update regarding this issue: I finally got something working in:

https://github.com/jawher/mow.cli/tree/issue32-handle-var-value-flags

What remains to be done:

* Documentation (GoDoc and README)
* Examples

[2016-09-06 22:23] gotwarlost opened #37 "Aliasing commands"
It doesn't look like it is possible to have aliases for [sub-] commands?

For example:

[code]

Should this be supported?

[2016-09-07 07:32] jawher commented on #37
@gotwarlost Looks useful and relevant to me 👍

Want to give it a shot ? It shouldn't be too hard to implement. Something like:

[code]

Then split the command name around spaces.

[2016-09-07 16:32] gotwarlost commented on #37
OK, let me take a crack when I get some time.

[2016-09-07 16:33] gotwarlost commented on #37
I should add: this is a wonderful library that has become the de-facto standard where I work.

[2016-09-07 21:32] jawher commented on #37
@gotwarlost

Don't hesitate to ask if you have any question 👍

Thank you so much for the kind words ! Glad to receive such feedback and to know that something I built proves useful to others 😀

[2016-09-19 11:45] #32 closed

[2016-09-19 11:46] jawher commented on #35
Fixed with #38

[2016-09-19 11:46] #35 closed

[2016-10-24 16:49] the-shank opened #39 "unsuccessful parsing in case of nested command"
I am facing a wierd issue. Considering the following code
[code]
I then compile using `go build .`
Then I run the command `./mycli labels create -t test -c red`
The output that I am getting is
[code]
So basically it is failing to parse the arguments that I am providing. I am unable to locate the issue. Any help would be much appreciated.

BTW, thanks for this amazing library !

[2016-10-24 18:34] jawher commented on #39
Hi @the-shank !

This is not a bug in mow.cli nor an issue with your spec string.
The problem is that you're accessing the options and args values outside of the `Action` function, before `mow.cli` has had any chance to actually parse the passed arguments.

Simply move your `log` statements inside the `Action` and that should fix the problem.

[2016-10-24 20:38] the-shank commented on #39
@jawher Thank you for the prompt response ! And apologies for not checking more carefully !

[2016-10-24 20:38] #39 closed

[2016-10-25 16:24] jawher commented on #39
@the-shank No worries 👍

[2016-11-22 09:36] codykrieger commented on #37
@gotwarlost: FYI: I took a stab at this in #40. :)

[2016-11-23 22:54] #37 closed

[2017-01-18 22:45] jawher opened #41 "-h and --help do not honour the -- operator"
Given an app or a command with the following spec `CMD -- ARG...`, calling the command with `go -h` for example would still print the command help instead of parsing `-h` as `ARG`.

[2017-01-19 13:39] jlrigau commented on #41
Same behaviour with -v and --version

[2017-02-07 11:04] pbkdf3 opened #44 "customize usage / help display"
Is there currently a facility to customize the usage/help?  For example I would like to include the version number, and add a line or two of text showing example invocations.  If there isn't, could you point me towards where this might be implemented?  While fairly new to golang I would take a crack at it.

thanks!

[2017-02-07 12:38] jawher commented on #44
The `LongDesc`  field may suit your needs: https://godoc.org/github.com/jawher/mow.cli#Cmd

Given this conf:

[code]

Calling `--help`  would normally produce the following output:

[code]

But if you set the `app.LongDesc`:

[code]

It would instead produce:

[code]

[2017-02-07 17:55] pbkdf3 commented on #44
Thank you, LongDesc perfectly meets my needs.

[2017-02-08 08:27] #44 closed

[2017-02-20 23:28] gwatts commented on #33
Closing due to the merge of #43  :-)

[2017-02-20 23:28] #33 closed

[2017-03-14 21:00] drewfish opened #45 "feature: support long descriptions for subcommands"
I have a subcommand where several of the options take a string, which are interpreted the same way for all of these options. Instead of giving details of possible string values for each options, I'd like to add this to the description of the subcommand.

Currently I can use a multi-line string for the description of the subcommand, and this works well if I do `cmd subcmd --help`. However, if I jus

[2017-03-14 21:06] drewfish commented on #45
One idea is to keep the API as it exists today, and the "short" description (shown when a bunch of subcommands are listed together) is just the first line of command description.

[2017-03-14 21:38] jawher commented on #45
Would the `LongDesc`  field in `Cmd` be suitable for your need ? https://godoc.org/github.com/jawher/mow.cli#Cmd

Given this conf:

[code]

Calling `--help`  would normally produce the following output:

[code]

But if you set the `app.LongDesc`:

[code]

It would instead produce:

[code]

[2017-03-14 21:47] drewfish commented on #45
Something like LongDesc() for cli.Cmd would be perfect, but it doesn't appear to exist.

[2017-03-14 21:52] drewfish commented on #45
Oh, it's field, and it works perfectly. (Sorry, I'm new to golang.) Thanks!

[2017-03-14 21:52] #45 closed

[2017-03-14 22:03] jawher commented on #45
@drewfish No worries, glad it worked out for you 😄

[2017-05-06 18:13] gwatts commented on #5
Not as neat as the builtin type proposed here, but I implemented something similar using the new(ish) custom type feature https://godoc.org/github.com/gwatts/flagvals#OneOfString

eg.
[code]

[2017-05-10 05:07] kunashu opened #47 "Cannot use func literal (type func(*cli.Cli)) as type cli.CmdInitializer"
Hello,

I'm currently working on an application in a Mac. When trying to do something like `my_app.Command("test", "lets see if this works", func(cm *cli.Cli){})` Im getting the following compilation error:

I have the following version of go installed :`go version go1.8.1 darwin/amd64` Reading on the internet some people solved a similar problem with running `go get -u`, but this doesn't seem to

[2017-05-10 15:15] jawher commented on #47
@kunashu Can you provide the whole `.go` file please ?

[2017-05-22 13:06] silasdavis opened #48 "Consider tagging versions"
I know there is a tradition in golang of not tagging versions and just running off master, but I am managing my dependencies with a manifest file and it would be convenient to be able to specify a version tag. I can do the same with a commit hash but isn't quite as nice. Would you consider cutting some tagged releases?

Thanks for the library.

[2017-07-12 11:44] jawher commented on #48
@silasdavis Thanks for raising the issue.

With mow.cli, the promise is: master will always keep backward compatibility.
If ever I needed to introduce breaking changes, the plan was to create another repo, `mow.cli.v2` for example.

I know this is just a promise and not necessarily *unbreakable*, but it worked so far.
However, I'm not against using a semver scheme (and tagging), where major will a

[2017-08-09 12:36] DarwinJS opened #52 "Help semantics are a bit confusing..."
Under arguments the generated help says things like: FILE="" - which puts you under the impression you need that exact text like this FILE="c:\some\path\to\a\file.txt", when in reality you substitute the parameter value for the entire string FILE as it appears in the "Usage:" pattern.

I have been caught on this for parameters I don't use much and I observed colleagues who are newer to a given par

[2017-08-14 17:56] jawher commented on #52
Fair enough.

I'll see what I can do (another way of formatting the default values).

[2017-08-16 11:17] #41 closed

[2017-08-19 16:52] jawher commented on #48
@silasdavis Done. The version 1.0.0 was tagged.

[2017-08-19 16:52] #48 closed

[2017-08-27 16:19] #47 closed

[2017-08-27 16:20] jawher commented on #47
You should pass `*cli.Cmd`  instead of `*cli.Cli`.

[2017-09-11 17:56] jdonboch opened #55 "CLI hangs when EnvVar is set"
I am having an issue where the CLI will hang when I pass in an invalid flag.  I have created a simplified version of my project to recreate the issue here:

https://github.com/jdonboch/mow-hangs

If I have the environment variable "FARO_HOME" set and I run the above project with an invalid flag argument, mow.cli will hang:

`mow-hangs --invalid-tag api`

If I unset the environment variable, the CL

[2017-09-19 14:32] jawher commented on #55
For a quick workaround, you can manually specify a spec string, like the following:

[code]

(Supposing you have a `-c` option, like in the example repo you linked)

[2017-09-24 10:56] #55 closed

[2017-09-24 11:03] jawher commented on #55
Back from vacations.
The issue is now fixed (#56) and a new release (v1.0.2) with the fix is out.

Thanks for finding and raising this *hairy* issue !

[2017-10-02 07:26] yashrajsingh opened #57 "Application Hang"
If we have environment variables set, and try to run the application with custom flags, app hangs.

[code]
and in terminal
[code]
The app will hang, Not even `app.Before` or `app.Action` is called..

[2017-10-02 07:36] #57 closed

[2017-10-02 08:07] jawher commented on #57
Just to be sure, this bug affected an older version of `mow.cli` right ?

[2017-10-02 10:26] yashrajsingh commented on #57
Yea, I saw the earlier issue about this, and updated my vendor folder. The issue was fixed after that, thanks :+1:

[2017-10-02 11:25] jawher commented on #57
Ok, thanks for the reply 😃

[2017-10-29 18:05] #52 closed

[2017-11-05 16:08] nmaupu opened #59 "Support environment variable as a *Opt parameter"
For a more concise declaration, it would be very nice to be able to make a call such as :
[code]

Instead of :
[code]

`SetByUser` would not be set to anything.

I can make a PR if you want me to.

[2017-11-05 16:58] jawher commented on #59
Unfortunately this is not possible without breaking backwards compatibility: Go does not support method/function overloading, so this would require changing the signature of the `*Opt` methods, thus breaking all of this library users.

[2017-11-05 17:39] nmaupu commented on #59
Indeed, goog point.
The only solution would be to create new dedicated funcs for that.

[2017-11-11 12:21] jawher commented on #27
Almost 2 years later, but #53 fixes this, at least partially.

[2017-11-11 12:21] #27 closed

[2017-11-17 07:31] jawher opened #62 "Expose the target command inside Before/After listeners"
This way, one could avoid doing expensive initialisation when the target command is "version"  for example

[2017-12-01 13:01] schmich opened #64 "Position-independent options"
From what I can tell, there is no way to have a single-declaration global option that applies across all subcommands (i.e. its position on the command-line doesn't matter).

For example, let's say I have a command-line program `foo` which has subcommand `bar` which has subcommand `baz`. I can invoke this as `foo bar baz`.

Now, let's say I wanted to add a verbose logging flag `-v` which applies re

[2017-12-01 13:40] jawher commented on #64
@schmich Thank you for your kind words and for raising this issue.

It's been a while now that I have been thinking about this idea, ie. something similar to Cobra's persistent flags.

I'm accepting this feature request as I agree it's a "very nice to have".
No promises though on when this would be implemented: I've been very bad a keeping them in the past 😆

[2017-12-02 02:09] schmich commented on #64
I appreciate the consideration, and I totally understand the "no promises" aspect.

[2018-01-10 22:50] Javyre opened #65 "Negative values for VarArg() Bug?"
I noticed that i cannot get a positional `VarArg` with a negative value to work properly...
Here is an example:
[code]

When i then use it in a `VarArg`
[code]

i cannot input a negative value because it interprets it as a flag argument:
[code]

I am temporarily using `VarOpt` because that woks since its already a flag: (`--val=-10.0` and `-v-10.0` works fine)

Im not very familiar with the intern

[2018-01-12 13:45] jawher commented on #65
Thank you for the detailed report and for the kind words 😄

Indeed, though not exactly a matter of before/after:
By default, positional argument matchers would reject anything starting with a `-`, to avoid accidentally consuming options.

This is a sort of an unwritten law, and the same behaviour can be observed in the almost all command line tools.
For example, all of the following invocations wo

[2018-01-12 15:58] mozillazg commented on #64
@jawher Is there any news about this feature?

[2018-01-13 02:42] Javyre commented on #65
More than acceptable thank you!
I must've missed it in the docs

[2018-01-13 02:43] #65 closed

[2018-01-18 12:44] jawher commented on #64
@mozillazg sorry, but I haven't been able to look at this yet.

[2018-02-05 12:16] olebedev opened #66 "The app panics while parsing args"
The content of the main file:

[code]

I ran the tool with `swarm init test` and have got a panic:

[code]

Why this could happened?

Thanks

[2018-02-05 12:38] jawher commented on #66
Hi,

The panic trace points to a panic raised in:

[code]

I couldn't look further into this since swarmdb is apparently a private repo.

As far as I can tell, the issue is not in `mow.cli` but further down the chain.
The following code works flawlessly:

[code]

[2018-02-05 13:32] olebedev commented on #66
Oh, sorry it's my bad 🙂

I am closing this. Thank you.

[2018-02-05 13:32] #66 closed

[2018-02-16 10:16] coriolinus opened #67 "Command Usage strings do not include external arguments"
I'm working on a whitelist application. Whitelists have a name, `WL`. Once you name a whitelist, you can manipulate and query them in various ways.

This shows up correctly in the global usage string:

[code]

However, `WL` is omitted from subcommand usage strings:

[code]

The actual parser parses correctly, but WL is omitted from the usage string. The usage string which should appear is:

[code]

[2018-03-18 21:13] pkazmier opened #71 "Synchronize README.md and doc.go"
As I was submitting PRs for some `README.md` enhancements, I noticed that `doc.go` has drifted in numerous spots. I'm more than happy to update `doc.go`, so it matches `README.md` more closely. This would give me an opportunity to learn about `godoc` as I'm new to Go.

Ideally, it would be great if one could be derived from the other, but I'm not familiar with the documentation tools available in

[2018-03-19 10:44] jawher commented on #71
I have no idea to be honest. I haven't look into this.
I agree It would be better thank having to manually keep the 2 (godoc and readme) in sync by hand.

[2018-03-31 20:10] pkazmier commented on #71
I'm working on this now and will have something to show by end of the weekend.

[2018-04-01 21:15] pkazmier commented on #71
Submitted #72 to address this issue.

[2018-05-01 10:05] coriolinus opened #74 "CLI parsing chokes when optional value contains `=` char"
I'm writing an application that needs to be able to receive base64-encoded data on the command line. However, mow.cli apparently doesn't like that base64 data uses equal signs for padding. Example (slightly modified to preserve NDA'd info):

[code]

I believe that this is an issue with equal padding and not other some misconfiguration because trimming the last quartet causes a logic error farther

[2018-05-02 06:43] jawher commented on #74
Thank you for raising the issue.

I'll look into it !

[2018-05-03 10:54] #74 closed

[2018-05-03 12:25] #71 closed

[2018-05-04 13:56] silasdavis commented on #59
I came here asking for env var support having not sufficiently RTFM'd, this is great!

[2018-05-05 02:28] pkazmier commented on #59
I’d propose a new set of functions using functional options as described here:

https://dave.cheney.net/2014/10/17/functional-options-for-friendly-apis

This would have solved the issue that is preventing the existing API from being extended.

[2018-06-12 23:55] tcurdt opened #77 "Float Options"
There should be some kind of float type support built-in.

[2018-06-26 15:27] coriolinus opened #78 "Undeclared arg panic when using dynamic arg names"
I'm building a moderately complicated app for which there are a bunch of argument groups which we want to reuse in various subcommands. We ended up with an idiom in which for each argument group, we write two functions: one to get its spec string, and one to get the actual value. It's easier to demonstrate than to explain:

[code]

A particular subcommand just needs to link together the appropriat

[2018-06-26 15:31] jawher commented on #78
Thank you for raising the issue.

Would it be possible to have a minimal-fully-contained app, say in a single go file which reproduces the issue ?

[2018-06-26 15:35] coriolinus commented on #78
I'll work on distilling an example. I can't demo the actual code because it
is proprietary.

On Tue, Jun 26, 2018 at 5:31 PM Jawher Moussa <notifications@github.com>
wrote:

[2018-06-26 15:56] coriolinus commented on #78
Given the following code:

[code]

Running it produces a panic

[code]

[2018-06-26 16:04] jawher commented on #78
In this line:

[code]

You are declaring the `DURATION` argument on the `cmd` variable instead of `subcmd`.

[2018-06-26 16:15] coriolinus commented on #78
Well, now I feel silly.

Thanks for the help; I'll reopen only if I can repro when using the library properly.

[2018-06-26 16:15] #78 closed

[2018-06-26 19:40] jawher commented on #78
No worries, happens to all of us 👍

[2018-07-08 11:46] oakad opened #79 "Add global panic interceptor"
In some apps, panics carry meaningful information and should be nicely reported on exit. User, of course, always has the option to defer a recovery block in the `Action` call back. However, in applications with many sub-commands and, correspondingly, `Action` call backs this results in excessive proliferation of the boilerplate code.

Considering that `mov.cli` already has some panic handling mech

[2018-07-31 12:30] tcurdt commented on #77
I was trying the following:
[code]
Any plans of adding this?

[2018-08-05 15:30] jawher commented on #77
Hi and thanks for raising the issue.

I'll work on this as soon as I can find the time.

a PR would be more than welcome (and should not be very hard to implement) 👍 😋

[2018-08-05 15:41] jawher commented on #79
Hi @oakad.

Wouldn't the usual panic recovery technic be enough ?

[code]

[2018-08-07 07:05] oakad commented on #79
The problem is with reporting.

Presently, mow.cli adds several stack frames on top of the propagating panic stack trace. This pollutes the logs and adds extra effort to troubleshooting (instead of problematic stack frame being somewhere near the top of the dump it is covered by meaningless mow.cli frames).

Consider the below example - the actual error I would like to see on top (`exception.OnErr

[2018-08-07 09:06] jawher commented on #79
I understand.

I'll need to think a bit on how to go about implementing this: If I want want to keep the original panic stack, I'll have to find another way to implement the before/after execution flow without using `recover()`.

[2018-08-17 11:44] silasdavis opened #80 "Catch duplicated command line flags"
It would appear to be possible to register the same short/long options multiple times for a command. It would be better if this was caught and threw an error as early as possible. I thought it would be caught in `Cmd` but it was not, so then I thought maybe it was caught in `cmd.Spec` but it appears not to be caught there either.

In a large CLI particularly if modular its hard to see which argume

[2018-11-29 17:55] masiulaniec opened #82 "All flags look like booleans in -h output"
[code]

In this example, `-n` is a boolean but `-f` is not (it takes a string). It would be clearer if `-f` was rendered as `-f string`. One could also borrow the back quote idea from the `flag` package, see https://godoc.org/flag#PrintDefaults.

[2019-01-08 13:25] silasdavis opened #83 "Provide possibility of passing pointer to value for options or argument"
I was recently porting an command from Cobra. It looked like:

[code]
In mow.cli since I have no way of providing it with a pointer to fill I had to do this:
[code]

Not the end of the world but rather annoying boilerplate. I wonder if mow.cli could support something similar to Cobra and provide the option to pass in a pointer. I note that the base functions exist in the internal package.

Perhaps

[2019-01-08 14:24] silasdavis opened #84 "Provide more specific parsing error feedback"
Currently if the FSM cannot navigate the command line options you just get an `Error: incorrect usage` message printed followed by the usage. With a large command this is not very helpful. It seems like mow.cli with its FSM is in a good position to give a helpful message.

It would also be useful to just echo back the verbatim command args in case on an error in case it is obvious the mistake you

[2019-01-14 07:52] jawher commented on #83
Yep, shouldn't be too hard too add.

I'll try to start working on this & hopefully it should be ready soon*(ish) !

[2019-01-14 07:57] jawher commented on #84
This might be trickier than expected: when the FSM finally gives up, it could have traversed multiple different routes, with backtracking, so three isn't necessarily a single path you could use to construct the error message and pin point the problematic location.

Maybe the longest path, i.e. the one that matched most of the input, could be used for the error message, but I'm not sure that's nece

[2019-02-11 16:17] nim-nim opened #87 "Handle sharing of options and arguments between subcommands"
I'd like to use mow cli to implement sub commands that share a core of common options and arguments

My understanding is that it is not possible right now in mow cli without  redeclaring options and args in every sub (otherwise why would the reddit example duplicate the account declaration).

Please add a way to reuse option/arg between subs to avoid the usual drift when cut and parting

If I'm wr

[2019-02-12 09:22] nim-nim opened #88 "Please make a release that includes the go.mod file"
Adding module support is really nice but it does not help a lot if it does not end up in an actual release (since the whole point of modules is to help Go users to manage versions)

[2019-02-23 10:21] jawher commented on #88
Done, please see the
https://github.com/jawher/mow.cli/releases/tag/v1.0.5 release

[2019-02-23 10:21] #88 closed

[2019-02-24 11:18] #83 closed

[2019-02-24 11:29] #77 closed

[2019-02-24 15:13] nim-nim commented on #88
Wonderful, I can make it the cornerstone of my "convert codebase to modules" effort . Thanks a lot!

[2019-02-24 15:27] nim-nim commented on #88
Wonderful, I can make it the cornerstone of my "convert codebase to modules" effort . Thanks a lot!

[2019-03-17 11:38] nim-nim opened #92 "Inter-option ordering"
I'm writing a command that needs to filter a file list.

Some filters will cause files to be selected, others to be deselected. A file can match several filters so filtering order matters:
`<something that selects the file> followed by <something that deselects the file>`
does not give the same result that
`<something that deselects the file> followed by  <something that selects the file>`

I was

[2019-03-17 13:03] jawher commented on #92
How about implementing a custom multi-valued option type to represent an ordered slice of typed file filters (include or exclude) ?

Something like:

[code]

You can then call this app with:

[code]

[2019-03-17 13:25] nim-nim commented on #92
Thank you for looking at this. I realise I should have been clearer, by filter type I meant not just "+" and "-" but several types of filters that exclude and several types of filter that include

`[-f=<path> | -e=<extension> | -d=<path> | -t=<tree root path> | -r=<regular expression> | "-F=<path> | -E=<extension> | -D=<path> | -T=<tree root path> | -R=<regular expression>]`

So shoving the type i

[2019-03-18 07:51] jawher commented on #92
Ah, I see.

Since each option stores its value in a separate variable, the order is indeed lost.

I'll have to think on how best to accommodate such a use case.
I'm thinking a callback system (call a user-provided function whenever an option is encountered in the args) might do it, but I'll have to check if this would really work: stuff like backtracking for example might render this tough/impossi

[2019-03-20 10:51] nim-nim opened #93 "Provide a way to mark options as un-ordered"
This is not a huge issue, just an annoyance

Right now the documentation states

So I don't see how to specify a command like `rm -fr DIR`, where the option-to-argument ordering is not significant, and `rm -fr DIR`, `rm -r DIR -f`, `rm -f DIR -r`, `rm DIR -fr` are all acceptable and equivalent

Basically, one of my commands has generic options like  `-q | --quiet` that do not require any special p

[2019-04-03 08:28] nim-nim commented on #93
This is a duplicate of issue #64

[2019-04-03 08:28] #93 closed

[2019-04-03 09:16] nim-nim opened #94 "Associate option values with specific arguments"
I have a (complex) set of options used to define the properties of an argument (some properties are optional, others mandatory, it's not a simple set).

I now need to write a subcommand that manipulates sets of this argument. Unfortunately, all the arguments in the set do not necessarily share the same properties.

The natural user-friendly way to do it would be to rely on

and basically do someth

[2019-04-08 16:11] sungo opened #95 "Cannot use exclusive choices with OPTIONS"
I'd like to use exclusive choices with OPTIONS. It seems I can't do that currently. Example code follows below.
With the spec line `app.Spec = "(--one | --two) [OPTIONS]"`, it is legal for the user to call `main --one --two`.
With the spec line `app.Spec = "(--one | --two)"`, the user must choice between using `--one` or `--two`.

In this example, I'm looking for the latter, to force the user to s

[2019-06-14 13:43] duanqy opened #98 "The default value of the empty default option is not printed correctly"
[code]

The default value of filename is abc.txt which is specified when I execute the program.

[code]

[2019-08-30 19:46] vaishali-ntnx opened #99 "Add support to make a command hidden in cli"
Currently, I couldn't find a way to make a command hidden in cli. As soon as the app name is printed, all commands are listed down.

[2019-11-22 21:41] Oneymus opened #102 "Display missing required params"
When a required parameter isn't given, all that's printed is `Error: incorrect usage`. It would be helpful if we could print the missing param(s) when that is the cause of the error.

[2020-03-31 18:33] skyzyx opened #104 "Expose a model of the command structure"
It's easy to build out a command structure to get a CLI app up and going fairly quickly (thank you!).

That said, once I've modeled the command structure in code, I'd like to be able to access a representation of what's been set up. Something that exposes the command structure (possibly as a set of nested structs?).

My end goal is to be able to take this exposed model and do things like generate

[2020-06-11 10:37] skyzyx commented on #104
Ping?

[2020-06-17 08:18] jawher commented on #104
Hi 👋

Sorry for the delay.

I'm playing with different options to expose the CLI's structure (commands, options, arguments) without trying it to the internal data structures.

I'll hopefull have a PoC soon in a separate branch if you are willing to test it before merging it.

The idea would be to have a new package, `model` for example which contains several structs (`Command`, `Option`, `Argument

[2020-06-28 18:01] skyzyx commented on #104
This would be great.

In the interim, I've ended up having to duplicate the command structure I'm using for this CLI framework, then hard-code what the responses should be. I think that by exposing the structure of the model, it will become dramatically simpler (and more DRY) to respond to `<command><TAB>` with the right subcommands and flags.

Thank you!

[2020-07-03 14:42] jawher commented on #104
@skyzyx Thank you for your patience 🤗

I just pushed a branch with a PoC of an app model: https://github.com/jawher/mow.cli/pull/106

I would be grateful if you could play with it and share your feedback.

[2020-07-17 21:35] skyzyx commented on #104
OK. I have some time to play with this today. Any idea how to pull this branch with `go.mod`?

[2020-08-03 22:45] poldi1405 commented on #98
This bug also happens with environment-variables.

[2020-08-03 22:57] poldi1405 opened #108 "StringsOpt can not start with dashes"
If you want to supply additional options to pass to another program the syntax is limited.

Assuming that the option `--args` takes in these arguments and no one-character-alternative has been set, the `=` is required.

Meaning the following:
[code]
I can understand the reason for this but still feel this bahaviour to be inconsistent.

[2020-08-08 11:37] #99 closed

[2020-08-08 12:04] #98 closed

[2020-08-27 10:18] wkhere commented on #82
Alternative to back quotes would be also to add Metavar to the *Opt structs, acting similar as in Python's argparse.

Yet another alternative would be reusing names from Spec in this  -h output.

That would be actually super helpful, as `mow.cli` is already more advanced than most of cli parsers, this one area seems to ask for improvement.

[2020-08-27 10:26] jawher commented on #82
@wkhere Thank you for your suggestions !

Could you clarify a bit the following points ?

* argparse's metavar: just a string, e.g. `bool`  or `true|false` which when help is printed would render as: `  -n (bool)                 No-op mode.` ?
* reusing names from Spec: not sure I understood this one

[2020-08-27 11:01] wkhere commented on #82
@jawher thank you for a swift reply!

1. Metavar is a concrete name representing flag value (or arg value). In argparse it is displayed in usage headline (well, we seem to have Spec for that) and in usage lines describing each option.
Following an example from the [original doc](https://docs.python.org/3/library/argparse.html#metavar):
[code]
Hope this example explains.

Here, I think, we could de

[2020-11-07 23:36] usernametaken opened #112 "Custom exiter"
in cli.go
var exiter = func(code int) {
	os.Exit(code)
}

It would be great is this variable is exported so it can be overridden with a custom func

var Exiter = func(code int) {
	os.Exit(code)
}

The reason I need this is because I do some initialization (e.g. open DB & log) in my application before I call cli Run
It the cmdline parameters are not complete... help is displayed BUT the After func

[2020-11-16 02:53] skyzyx opened #113 "Implement out-of-the-box support for shell autocompletion (source code available!)"
I haven't looked closely at the internals recently, so I'd like to leave that part to you. But by exposing a model of the command structure in #106 (responding to #104), I was able to write some re-usable code that provides shell auto-completion for Bash and Zsh. (I haven't attempted Fish or Powershell yet, but it'd be _awesome_ if someone who knows those shells better than I could contribute thos

[2021-01-15 00:14] skyzyx commented on #104
I have tested this, and it works marvelously. Thank you.

Getting a new tag with this functionality would be appreciated.

[2021-02-16 23:02] skyzyx opened #114 "Possible bug with option specs"
I've discovered something which violates the [Principle of Least Surprise](https://en.wikipedia.org/wiki/Principle_of_least_astonishment) and think that it _may_ be a bug.

I have a spec which looks like this:

[code]

When I run the command with an option, I get the following:

[code]

However, if I reverse the top level options in a way that is semantically identical:

[code]

…it works without

[2021-02-19 08:37] jawher commented on #114
@skyzyx Here's how mow.cli parses the spec string `[--cluster=<value> [--only-env=<value>] | --all]`:

![Screenshot 2021-02-19 at 09 27 44](https://user-images.githubusercontent.com/96384/108478468-d3daf300-7294-11eb-9851-2b8546210c98.png)

However,by adding parenthesis to get this spec string: `[(--cluster=<value> [--only-env=<value>]) | --all]`, this nudges the parser into what you want:

![Scre

[2021-02-19 20:18] skyzyx commented on #114
Ahhh. I had assumed that the left side of `|` was auto-grouped.

[code]

[2021-04-27 10:09] TomFreudenberg opened #116 "Extension: check docker containerized starter with mow.cli as default"
Hi Jawher @jawher

thanks for sharing this component to the world.

Maybe you like to know that I have created a starter to run golang process via docker container.

https://github.com/TomFreudenberg/golang-cli-cmd-dev-starter

The main example there, a `hello` command is a running example of a mow.cli application.

If you like to share this, it would allow anyone directly to start working and tes

[2021-05-12 18:29] b00f opened #117 "Example of writing test"
Do you have any example about who to write tests for command and subcommands?

[2021-06-22 04:56] 3coma3 opened #118 "Global StringArg + command: contextual help does not work"
Hi. First of all, thanks for this excellent package. I hope it will be developed further because it shows an enormous potential.

With the following example code (simplified from docs):

[code]
I see the following behavior:
[code]
I would expect that the contextual help worked here, or is this the intended semantics? I couldn't find anything about this in the documentation, and the sole example co

[2021-06-22 18:41] 3coma3 commented on #87
I would need to confirm and test, but maybe this can be done by assigning the same handler to many subcommands? Pass some value to the handler so it knows what subcommand it should be handling at any point. Hope I didn't misunderstood.

[2021-06-23 00:46] 3coma3 commented on #87
I have an initial positive result. I'm writing a CLI interface to a rest service, and this code appears to do the trick:

[code]

[2021-07-05 16:08] 7fffffff commented on #118
Take a look at the usage string. FILENAME is being specified before COMMAND. If you invoke the program with `./app file.txt command1 --help` you should get the help message for command1

If you meant for FILENAME to be an argument to command1, it should be specified by calling cmd.StringArg inside command1

[2021-07-06 01:19] 3coma3 commented on #118
Hi @7fffffff , thanks for your reply!

I did look at the usage string, and opened this issue precisely because what the last line is suggesting, is inconsistent with having to pass top level arguments to be able to reach help for subcommands (which also applies for subsequently nested commands):

`Run 'app COMMAND --help' for more information on a command.`

Actuallly, this is CLI applications wit

[2021-07-06 05:52] 7fffffff commented on #118
Ok, I see what you mean. This seems related to #67, in that the bottom line of the help message doesn't reflect the invocation that's expected. The message can be fixed for accuracy and I've made an attempt, but that doesn't address the inconvenience of having to put in an arg just to get help for a subcommand.

I think the parsing process would have to change somewhat to support invoking help the

[2021-07-06 14:10] 3coma3 commented on #118
Yes, I see how the two issues are related. I understand also that a good start may be adjusting the message, and for a root solution I see two options:

1. Somehow implement a "help mode", with a different AST (I am guessing the parser renders an AST that is then evaluated?, please correct me if I'm wrong)
2. A generalization of 1. - implement different modes of invocation, each with its own synta

[2021-07-25 11:03] #118 closed

[2021-10-22 18:36] curio77 opened #121 "Wrapping long spec strings"
Spec strings easily get long or even very long.  Intuitively, one would use newlines in the string to get it to wrap in help output (since there's no other way to get the package to do that AFAIK). However, these aren't supported — is there a particular reason or would it be easy to change to allow for that, facilitating the consumption of help output by the user in such cases?

[2021-11-12 13:12] TomFreudenberg opened #122 "Extension: Quick start template"
Hey out there on mow.cli - thanks for sharing that component.

Here is a fast starting template - maybe usefull if someone just want to see mow.cli in action.

Cheers
Tom

---

## Quick start

<br>

Clone the repository and install necessary go tools:

<pre>
# just clone from GitHub
git clone -b master-local --depth=1 https://github.com/TomFreudenberg/golang-cli-cmd-dev-starter.git my-project

# d

[2021-11-12 13:12] TomFreudenberg commented on #122
Ups :-) the repo:

https://github.com/TomFreudenberg/golang-cli-cmd-dev-starter/tree/master-local

[2021-11-12 13:16] TomFreudenberg commented on #117
Hey @b00f you may checkout this:

https://github.com/TomFreudenberg/golang-cli-cmd-dev-starter/tree/master-local/src/internal/cmd/hello

[2021-11-12 13:22] TomFreudenberg commented on #108
Hm - seems to me you missed the "--" seperator?

From README in Section https://github.com/jawher/mow.cli#spec-strings

...

The -- operator can be used to automatically treat everything following it as arguments. In other words, placing a -- in the spec string automatically inserts a -- in the same position in the program call arguments. This lets you write programs such as the POSIX time utility

[2021-11-12 16:06] mpldr commented on #108
The thing is that -- is not the correct solution. It's not an argument but a parameter, as you can see in the example I provided. To give a real-world example:
[code]
(removed some options, but you should get the gist) The issue is with `--arg` which allows passing arguments for the editor.

[2021-11-12 16:32] TomFreudenberg commented on #108
Moritz @mpldr

I am sorry, I do not get what you expect.

Shouldn't it

[code]

so let you call

[code]

Just as I would expect it from documentation?

[2021-11-12 21:37] mpldr commented on #108
No, a call would be something like:

`br --editor sed --arg=-ie --arg 's/1/2/g' --arg {} *.txt`

or

`br --editor vim --arg {} --arg +%s/1/2/g --arg +x *.txt`

[2021-11-13 14:10] TomFreudenberg commented on #108
Ah, ok, got it.

Will it work already if you use parenthesis?

[code]

while `*.txt` will become automatically

[code]

if the files exist on command call.

[2021-11-13 16:03] mpldr commented on #108
The problem is not the vim version, it just served for illustration. The interesting part is the `--arg=-ie` for sed. Not the Shell-Side expansion of globbing patterns.

[2021-11-13 16:11] TomFreudenberg commented on #108
Yes, for sure, got all from previous posts!

I just wonder and asked if the parenthesis will already help to function StingOpts.

So, I asked for the sequence part:

[code]

only, and if that will already work and StingOpts detects the args correctly also without an equal sign `=` in between.

If I got it right from your posts, this will work, correct?

[code]

But also **with** parenthesis and **

[2021-11-20 14:49] mpldr commented on #108
Because of how (most) shells work, unfortunately this does not change anything. The quotation marks (I guess by parenthesis you mean them) are only used by the shell to call the process and determine where an argument starts. The quotation marks themselves are not added to the process's arguments. An easy way to try it out would be to run:

[code]

[2021-11-20 14:54] TomFreudenberg commented on #108
Ok, got that also - for sorry

I just look if something will allow the parser to catch the second value after `--arg` as a string value and not a new argument.

Maybe that will be stayed safe thru the shell?

[code]

Its not the solution - just as a test if the parser currently would recognize those correctly

[2021-11-24 15:15] mpldr commented on #108
here is what it looks like to the program: `[/tmp/go-build861777601/b001/exe/main --arg "-ie" --arg "+%s/1/2/g" --arg "+x"]`

and the actual program tells me:
[code]

[2021-11-24 16:39] TomFreudenberg commented on #108
Well, thanks for feedback.

Did I get it correctly, that even the params do not work for the forwarded `sed`, this time the values are correctly attached to the `--arg` param of the mow.cli app?

So if you would drop the (") inside your golang mow.cli app then the call for `sed` will work?

If so, the parser needs a patch to identifiy `-` as string after an argument

[2021-11-24 20:04] mpldr commented on #108
I mean… technically it would be possible to remove this, but I am not a fan of special behaviour and this might very well cause some issues. While there might not be a "correct" answer on this, there might be a "best solution"… (I mean… I documented this behaviour with my program but just wanted to bring it up)

[2022-01-05 13:02] curio77 opened #123 "BoolsOpt() for repeated flags (Boolean options)?"
Am I mistaken or is there no way to have repeated Boolean options (flags), such as `-vvv` (say, for increasing a verbosity level)?  With `pflag`, this is possible.

Intuitively, there should be a `cmd.BoolsOpt()` method enabling this (either operating on an `int` value or a `[]bool` slice).

Opinions?

[2022-07-20 15:08] oakad opened #127 "Spec is not inferred correctly for multi-value argument"
Let's say I have a command with a multi-value argument of the following sort:

[code]

The automatically inferred spec for it will (incorrectly) be "something something SOURCE_PATHS". This will incorrectly reject multiple "source path" arguments with an "incorrect usage" error (only a single argument will be allowed).

The correct, working spec can be specified explicitly to fix the issue: "someth